<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lokesh and S2019001054</title>
    
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <h1>G.Lokesh  </h1>
    <h2>Group 1</h2>
    &emsp14;
   <div>
    <img src="brady.jpg" alt="Tom brady" width="920" height="408">
   </div>
   &emsp14;
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Group no</th>
            <th>Roll.No</th>
            <th>Email</th>
            <th>Leader Name</th>
            <th>Proposed Idea</th>
            <th>Role </th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Lokesh</td>
            <td>1</td>
            <td>054</td>
            <td>lokesh.g19@iiits.in</td>
            <td>G.Lokesh</td>
            <td>Sports and Fitness Guide</td>
            <td>Backend-Django,JavaScript</td>

            
        </tr>
        <tr>
            <td>Happy Kumar</td>
            <td>1</td>
            <td>061</td>
            <td>happy.k19@iiits.in</td>
            <td>G.lokesh</td>
            <td>Sports and Fitness guide</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>Adarsh</td>
            <td>1</td>
            <td>053</td>
            <td>adarsh.g19@iiits.in</td>
            <td>G.Lokesh</td>
            <td>Sports and Fitness Guide</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>Karthik</td>
            <td>1</td>
            <td>042</td>
            <td>karthik.d19@iiits.in</td>
            <td>G.Lokesh</td>
            <td>Sports and Fitness Guide</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>Neeraj</td>
            <td>1</td>
            <td>042</td>
            <td>neeraj.v19@iiits.in</td>
            <td>G.Lokesh</td>
            <td>Sports and Fitness Guide</td>
            <td>TBD</td>
            
        </tr>

        </tbody>
    </table>
</div>
&emsp14;
   
<div>
    Github: <a href="https://github.com/lokeshwitten/">Click Here</a>
</div>
&emsp14;
<div>
    IIITS: <a href="https://www.iiits.ac.in">Click Here</a>
</div>
&emsp14;
<div>
    LinkedIn: <a href="https://www.linkedin.com/in/g-lokesh-4a8a42192/">Click Here</a>
</div>
&emsp14;
</body>
</html>